@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin ease($curve) {
  -webkit-animation-timing-function: $curve;
  -moz-animation-timing-function: $curve;
  animation-timing-function: $curve;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

$termWidth: 80;
$speeds: 3;

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$bg: $base2;
$fg: $base00;

* {
  font-family:DejaVu Sans Mono,Consolas,Monaco,Lucida Console,Liberation Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.terminal {
  color: $fg;
}

#page {
  padding: 0.2em;
  font-size: 14pt;
  margin: 0;
  height: 100%;
  height: 96vh;
  width: 100%;
  border: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#page::-webkit-scrollbar {
  width: 0.5em;
}

#page::-webkit-scrollbar-thumb {
  background: $fg;
}

@include keyframes(blink) {
  0%   { background-color: $fg; }
  5%  { background-color: $bg; }
  50%  { background-color: $bg; }
  55%  { background-color: $fg; }
}

.wiper {
  position: absolute;
  right: 0;
  width: 100%;
  background: $bg;
  box-sizing: border-box;
}

.cursor {
  @include animation('blink 1.5s infinite');
  width: 0.5em;
  height: 1em;
  vertical-align: bottom;
  display: inline-block;
  background-color: $fg;
}

.childWidth {
  position: relative;
  display: table;
}

html {
  background-color: $bg;
}

pre {
  margin: 0;
}

@include keyframes(type) {
  from { width: 100% }
  to { width: 0% }
}

.ghost-type-done {
  display: none;
}

@for $speed from 1 through $speeds {
  @for $i from 1 through $termWidth {
    .ghost-type-#{$speed}-#{$i} {
      width: 0%;

      $time: ((0.01 * $i) / $speed);
      @include animation('type #{$time}s steps(#{$i}, end)');
    }
  }
}

@media only screen and (max-width: 1200px) {
  #page {
    padding: 0.2em;
    font-size: 12pt;
    margin: 0;
    width: 100%;
    border: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

